@import url('https://fonts.googleapis.com/css2?family=Purple+Purse&display=swap');
.slide1{
    background-image: url('../../img-video/nepal.jpeg');
    background-repeat: no-repeat;
    min-height: 100vh;
    background-size: cover;
    background-position: center center;
    opacity: 0.8;
  }
.slide2{
    background-image: url('../../img-video/nepal2.jpeg');
    background-repeat: no-repeat;
    min-height: 100vh;
    background-size: cover;
    background-position: center center;
    opacity: 0.8;
}
.slide3{
    background-image: url('../../img-video/toronto.jpg');
    background-repeat: no-repeat;
    min-height: 100vh;
    background-size: cover;
    background-position: center center;
    opacity: 0.8;
    filter: brightness(50%);
}
.slideSection
{
    position: absolute;
    top: 53vh;
    left: 3em;
    color:white;  
}
.slideSection h1
{
    margin: 0;
    font-size: calc(100vw / 21 );
    font-family: 'Purple Purse', cursive;
    letter-spacing: 4px;
}

@media screen and (min-width: 640px) {

.slideSection{
    top: 40vh;
}

}